<div class="card h-full">
    <div class="card-header">
        <h3 class="card-title">
            Répartition de mes lectures
        </h3>
    </div>
    <div id="radar" class="card-body min-h-full max-h-full min-w-full max-w-full w-full h-full flex flex-col gap-5">
    </div>
</div>
