<div class="card h-full">
    <div class="card-header">
        <h3 class="card-title">
            Répartition de mes lectures
        </h3>
    </div>
    <div class="card-body flex flex-col gap-5">
        <figure>
            <img src="{{  asset('media/charts/Radar_Sample.png') }}" alt="Radar Sample"/>
        </figure>
    </div>
</div>