<div class="modal" data-modal="true" id="search_modal">
    <div class="modal-content max-w-[600px] top-[15%]">
        <div class="modal-header py-4 px-5">
            <i class="ki-filled ki-magnifier text-gray-700 text-xl">
            </i>
            <input class="input px-0 border-none bg-transparent shadow-none ms-2.5" name="query"
                   placeholder="Rechercher..." type="text" value=""/>
            <button class="btn btn-sm btn-icon btn-light btn-clear shrink-0" data-modal-dismiss="true">
                <i class="ki-filled ki-cross">
                </i>
            </button>
        </div>
        <div class="modal-body p-0 pb-5">
            <div class="scrollable-y-auto" data-scrollable="true" data-scrollable-max-height="auto"
                 data-scrollable-offset="300px">
                <div class="menu menu-default p-0 flex-col">
                    <div class="grid gap-1">
                        <div class="menu-item">
                            <div class="menu-link flex justify-between gap-2">
                                <div class="flex items-center gap-2.5">
                                    <img alt="Cover" class="rounded-full size-9 shrink-0" src="" />
                                    <div class="flex flex-col">
                                        <a class="text-sm font-semibold text-gray-900 hover:text-primary-active mb-px"
                                           href="#">
                                            Le Moine qui vendit sa Ferrari
                                        </a>
                                        <span class="text-2sm font-normal text-gray-500">
                                            Un conte sur la quête du bonheur et du succès intérieur.
                                        </span>
                                    </div>
                                </div>
                                <div class="flex items-center gap-2.5">
                                    <div class="rating">
                                        <div class="rating-label checked">
                                            <i class="rating-on ki-solid ki-star text-base leading-none"></i>
                                            <i class="rating-off ki-outline ki-star text-base leading-none"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="rating-on ki-solid ki-star text-base leading-none"></i>
                                            <i class="rating-off ki-outline ki-star text-base leading-none"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="rating-on ki-solid ki-star text-base leading-none"></i>
                                            <i class="rating-off ki-outline ki-star text-base leading-none"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="rating-on ki-solid ki-star text-base leading-none"></i>
                                            <i class="rating-off ki-outline ki-star text-base leading-none"></i>
                                        </div>
                                        <div class="rating-label checked">
                                            <i class="rating-on ki-solid ki-star text-base leading-none"></i>
                                            <i class="rating-off ki-outline ki-star text-base leading-none"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>